</div> <!-- Fim container -->

<footer class="text-center mt-auto">
    <div class="container">
        <p class="mb-1 fw-bold text-dark">&copy; Isabelli Rosa</p>
        <small class="text-muted">A melhor seleção de vinis e CDs para você.</small>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>